$i-l-icons: (
  sprite: (
    width: 3100px,
    height: 3100px,
    svgPath: "svg(UTF8)/i-l-combine-svg.svg"
  ),
   info:
    (
      width: 100px,
      height: 100px,
      backgroundX: 0px,
      backgroundY: 0px
    ),
 info-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -100px,
      backgroundY: -100px
    ),
 info-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -200px,
      backgroundY: -200px
    ),
 info2:
    (
      width: 100px,
      height: 100px,
      backgroundX: -300px,
      backgroundY: -300px
    ),
 info2-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -400px,
      backgroundY: -400px
    ),
 info2-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -500px,
      backgroundY: -500px
    ),
 less:
    (
      width: 100px,
      height: 100px,
      backgroundX: -600px,
      backgroundY: -600px
    ),
 less-circle:
    (
      width: 100px,
      height: 100px,
      backgroundX: -700px,
      backgroundY: -700px
    ),
 less-circle-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -800px,
      backgroundY: -800px
    ),
 link:
    (
      width: 100px,
      height: 100px,
      backgroundX: -900px,
      backgroundY: -900px
    ),
 link-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1000px,
      backgroundY: -1000px
    ),
 link-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1100px,
      backgroundY: -1100px
    ),
 list:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1200px,
      backgroundY: -1200px
    ),
 list-level5:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1300px,
      backgroundY: -1300px
    ),
 list2:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1400px,
      backgroundY: -1400px
    ),
 list2-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1500px,
      backgroundY: -1500px
    ),
 list2-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1600px,
      backgroundY: -1600px
    ),
 location:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1700px,
      backgroundY: -1700px
    ),
 location-on:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1800px,
      backgroundY: -1800px
    ),
 log-out-blue:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1900px,
      backgroundY: -1900px
    ),
 log-out-blue-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2000px,
      backgroundY: -2000px
    ),
 log-out-green:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2100px,
      backgroundY: -2100px
    ),
 log-out-green-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2200px,
      backgroundY: -2200px
    ),
 log-out-orange:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2300px,
      backgroundY: -2300px
    ),
 log-out-orange-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2400px,
      backgroundY: -2400px
    ),
 log-out-purple:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2500px,
      backgroundY: -2500px
    ),
 log-out-purple-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2600px,
      backgroundY: -2600px
    ),
 log-out-red:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2700px,
      backgroundY: -2700px
    ),
 log-out-red-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2800px,
      backgroundY: -2800px
    ),
 log-out-teal:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2900px,
      backgroundY: -2900px
    ),
 log-out-teal-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -3000px,
      backgroundY: -3000px
    ),
);
