$m-n-icons: (
  sprite: (
    width: 2600px,
    height: 2600px,
    svgPath: "svg(UTF8)/m-n-combine-svg.svg"
  ),
   magic-wand:
    (
      width: 100px,
      height: 100px,
      backgroundX: 0px,
      backgroundY: 0px
    ),
 magic-wand-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -100px,
      backgroundY: -100px
    ),
 magic-wand-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -200px,
      backgroundY: -200px
    ),
 maxsize:
    (
      width: 100px,
      height: 100px,
      backgroundX: -300px,
      backgroundY: -300px
    ),
 maxsize-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -400px,
      backgroundY: -400px
    ),
 minsize:
    (
      width: 100px,
      height: 100px,
      backgroundX: -500px,
      backgroundY: -500px
    ),
 minsize-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -600px,
      backgroundY: -600px
    ),
 minus:
    (
      width: 100px,
      height: 100px,
      backgroundX: -700px,
      backgroundY: -700px
    ),
 minus-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -800px,
      backgroundY: -800px
    ),
 minus-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -900px,
      backgroundY: -900px
    ),
 more-blue:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1000px,
      backgroundY: -1000px
    ),
 more-green:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1100px,
      backgroundY: -1100px
    ),
 more-orange:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1200px,
      backgroundY: -1200px
    ),
 more-purple:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1300px,
      backgroundY: -1300px
    ),
 more-red:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1400px,
      backgroundY: -1400px
    ),
 more-teal:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1500px,
      backgroundY: -1500px
    ),
 move-left:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1600px,
      backgroundY: -1600px
    ),
 move-left-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1700px,
      backgroundY: -1700px
    ),
 move-left-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1800px,
      backgroundY: -1800px
    ),
 move-right:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1900px,
      backgroundY: -1900px
    ),
 move-right-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2000px,
      backgroundY: -2000px
    ),
 move-right-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2100px,
      backgroundY: -2100px
    ),
 multiple-upload:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2200px,
      backgroundY: -2200px
    ),
 multiple-upload-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2300px,
      backgroundY: -2300px
    ),
 not-allowed:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2400px,
      backgroundY: -2400px
    ),
 notifications:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2500px,
      backgroundY: -2500px
    ),
);
