.dialog-all {
    @include align-items(center);
    @include justify-content(center);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: 0;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: -1;
}

.iframe-dialog,
.dialog {
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #fff;
    display: none;
    position: relative;
}

.dialog:after {
    clear: both;
    content: "";
    display: block;
}

.iframe-dialog-title,
.dialog-title {
    width: 100%;
    float: left;
    border-radius: 5px 5px 0 0;
    color: #FFF;
    line-height: 20px;
    padding: 8px 10px;
}

.iframe-dialog-content {
    padding: 10px;
}

.dialog-content {
    width: 100%;
    float: left;
    line-height: 15px;
    margin-bottom: 5px;
    padding: 20px;
}

.dialog-btn {
    width: 100%;
    float: left;
    border-top: 1px solid #efefef;
    padding: 5px 20px;
    text-align: center;

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}