//下拉選單
select,
select:disabled,
select:hover:disabled {
    @include object-img(selectArrow);
}

select:focus,
select:hover {
    @include object-img(selectArrowHover);
}

//萬年曆
button.pc-btn,
button.pc-btn:hover {
    @include object-img(calendar);
}

//上、下移+灰色底
input[type="button"].up-btn,
input[type="button"].down-btn {
    width: 36px;
    background-position: center;
}
input[type="button"].up-btn {
    @include object-img(up-btn);

    &:disabled {
        @include object-img(up-btn-disabled);
    }
}
input[type="button"].down-btn {
    @include object-img(down-btn);

    &:disabled {
        @include object-img(down-btn-disabled);
    }
}

//排序
.sort-th .sort-th-content:before,
.sort-th .sort-down-last:before {
    @include icon-img(arrow-down);
}

.sort-th .sort-th-content:after,
.sort-th .sort-up-last:before {
    @include icon-img(arrow-up);
}

.sort-th .sort-th-content.sort-up:after,
.sort-th .sort-up-last.sort-up:before {
    @include icon-img(triangle-up);
}

.sort-th .sort-th-content.sort-down:before,
.sort-th .sort-down-last.sort-down:before {
    @include icon-img(triangle-down);
}

.default-sort-th .default-sort-th-ascending:before {
    @include icon-img(ascending);
}

.default-sort-th .default-sort-th-descending:before {
    @include icon-img(descending);
}

//仿彈跳視窗
.icon-check {
    @include icon-img(checkBlack);
}