.listbox {
    width: 100%;
    display: table;
    margin-top: 5px;

    &:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
    }
}

.sourcebox,
.targetbox {
    width: 40%;
    border-width: 1px;
    border-style: solid;
    display: table-cell;
    line-height: 15px;
    vertical-align: top;
    position: relative;

    tbody:before {
        content: "";
        display: block;
    }
}

.sourcebox:before,
.targetbox:before {
    width: 100%;
    float: left;
    content: attr(data-title);
    font-weight: bold;
    position: absolute;
    top: -24px;
    left: 0;
    text-align: center;
}

.put-btn-area,
.move-btn {
    width: 10%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.listbox-style2 .put-btn {
    margin-bottom: 40px;
}

.listbox-style2 .put-btn:last-child {
    margin-bottom: 0;
}

.put-btn .icon-move-left,
.put-btn .icon-move-right,
.move-btn .icon-circle-up,
.move-btn .icon-circle-down {
    float: left;
    cursor: pointer;
    clear: both;
    margin: 8px calc((100% - 30px) / 2);
}

.targetbox-area {
    flex-grow: 1.5;
    display: table-cell;
    line-height: 15px;
    vertical-align: top;
    position: relative;
}

.targetbox-content {
    width: 100%;
    float: left;
    display: table;
}

.listbox-style1 .targetbox-content {
    margin-bottom: 5px;
}

.listbox-style1 .targetbox-content:last-child {
    margin-bottom: 0;
}

.sourcebox>div,
.targetbox>div {
    width: 100%;
    height: 300px;
    overflow: auto;
    overflow-x: hidden;

    tbody::before {
        content: "";
        display: block;
        height: 25px;
    }
}

.target-row2>div {
    max-height: 150px;
}

.target-row3>div {
    max-height: 100px;
}

.lb-table {
    float: left;
    text-align: left;
}

.lb-table thead {
    display: block;
}

.lb-table thead tr {
    width: 100%;
    display: table;
    position: absolute;
    z-index: 5;
}

.lb-table th {
    border-right: 1px solid #fff;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;

    &:first-child {
        min-width: 30px;
        width: 30px;
    }
}

.lb-table th:last-child {
    border-right: none;
}

.lb-table td:first-child {
    text-align: center;
}

.disabled_tr {
    pointer-events: none;
}

.lb-table thead tr.get-width {
    width: calc(100% - 17px);
}

.flex_one {
    flex: 1;
    -ms-flex: 1 1;
}

.list_tr {
    @include flexbox();
    width: 100%;
    position: absolute;
    z-index: 5;
}

.list_th {
    background: #bde9ff;
    border-right: 1px solid #FFF;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    white-space: nowrap;

    &:first-child {
        min-width: 30px;
        text-align: center;

        input {
            margin: 0;
        }
    }

    &:last-child {
        border-right: none;
    }
}

.list_tr.get-width {
    width: calc(100% - 17px);
}